<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/myfirstdb"/>
                <property name="username" value="root"/>
                <property name="password" value="2546216709rui"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/dao/StudentAlter.xml"/>
        <mapper resource="com/dao/StudentDao.xml"/>
        <mapper resource="com/dao/StudentInsert.xml"/>
    </mappers>
</configuration>